body {
    font-family: Arial, sans-serif;
    background: #eaeaea;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.player {
    width: 300px;
    background: #222;
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.controls button {
    font-size: 22px;
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#progress {
    width: 100%;
    margin: 10px 0;
}

#volume {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 8px;
    background: #333;
    margin-top: 6px;
    border-radius: 5px;
    cursor: pointer;
}

ul li:hover {
    background: #444;
}
